body{
    background-image: url("https://images2.alphacoders.com/238/238560.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
    color: bisque;
}

div{
    color: black;
    border:solid 2px;
    border-color: tomato;
    background-color: aliceblue;
    opacity: 0.5;
    padding: 0.5rem;
}