body{
    background-image: linear-gradient(to right, rgb(255, 255, 255), rgb(70, 221, 70) , rgb(33, 175, 241));
}

.return-button{
    background-color: rgb(236, 60, 60);
    color: rgb(255, 255, 255);
    font-family: 'Franklin Gothic Medium';
    
}